img {
    width:min-content;
    height: 200px;
    border: solid black;
    margin: auto;
}

.flex {
    display: flex;
}

h1 {
    text-align: center;
    color: darkred;
    border: solid darkolivegreen;
    border-style:dotted;
    border-width: 10px;

}

body {
    background-color: rgb(123, 123, 123);
}

h2 {
    color: black;
    text-shadow: brown;
    text-indent: 5%;
}

h3 {
    color: white;
    text-align: center;
}

li {
    color:beige;
}

p {
    color: bisque;
}

ol {
    color: goldenrod;
}

ul {
    color: antiquewhite;
    text-align: center;
}

.highlight {
    font-style: italic;
}

.column {
    font-style: bold;
    width: 500px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin:auto;
    padding: 2%;
    border: solid brown;
    font-size:small;
    font-style:oblique;
    text-indent:4%;
}

.standout {
    border: solid;
    border-style: dotted;
    text-align: left;
}

.row {
    flex-direction: column;
    justify-content: center;
    margin: auto;
    border: solid lightsalmon;
    display: flex;
    width:400px;
    padding: 4%;
}